<div class="">
	{% load i18n %}{% autoescape off %}
	<h5>
		{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

	</h5>
	<div class="">
		{% trans "Please go to the following page and choose a new password:" %}
		<br>
	{% block reset_link %}
		{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}
	{% endblock %}
	<br>
	{% trans "Your username, in case you've forgotten:" %}<strong>{{ user.get_username }}</strong>

	</div>
	<div class="">
		{% trans "Thanks for using our Medicast!" %}
		{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
	</div>
	{% endautoescape %}
</div>
